@charset "UTF-8";

html{
    background-color:#FFF1FC; 
}

.pasta{background:rgb(242, 194, 202);
    padding: 1px;
}

h1{
  font-size:  35px;
  color:#8f1875;
  font-family:Agency FB
}

a{
  text-decoration:none;
  color: #8f1875;
}

a:visited{
  color:#8f1875
}

a:hover{
  color:violet;
}

ul.nav{
   display: flex;
    justify-content: space-around;
    line-height: 1em;
    list-style: none;
    padding: 0;
    font-size: 25px;
}

.text{
  margin-right: 20px;
}

li{
    vertical-align:1%;
    font-size: 110%;
    font-family:Agency FB
}

.contact-ttl{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
